@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.bg-gradient-from-image {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(6, 5, 63, 0.5),
      rgba(95, 20, 20, 0.8)
    ),
    url('/images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg_colorr {
  background-color: rgba(0, 0, 0, 1);
}

.bg_color {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.6),
    rgba(6, 5, 63, 0.4),
    rgba(95, 20, 20, 0.8)
  );
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
